a:link{
color:#8BB5FF;
}
a:visited{
color:#5A74A0;
}
a:active{
color:#B0CCFF;
}
body{
color:#FFFFFF;
background-color:#041943;
}
h1{
color:#FFFFFF;
}
h2, marquee{
color:#FFFFFF;
}
h3{
color:#FFFFFF;
}
h4{
color:#FFFFFF;
}
h5{
color:#FFFFFF;
}
h6{
color:#FFFFFF;
}
label, .MSTHEME-LABEL{
color:#FFFFFF;
}
FIELDSET{
border-color:#566079;
color:#FFFFFF;
}
LEGEND{
color:#FFFFFF;
}
SELECT{
border-color:#B4BED6;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#FFFFFF;
border-color:#FFFFFF;
color:#FFFFFF;
}
CAPTION{
color:#FFFFFF;
}
TH{
color:#FFFFFF;
}
HR{
color:#566079;
}
TD{
border-color:#FFFFFF;
}
