a:link{
color:#99CEFF;
}
a:visited{
color:#5288E3;
}
a:active{
color:#00CFFF;
}
body{
color:#FFFFFF;
background-color:#041943;
}
h1{
color:#C8E099;
}
h2, marquee{
color:#C8E099;
}
h3{
color:#C8E099;
}
h4{
color:#C8E099;
}
h5{
color:#C8E099;
}
h6{
color:#C8E099;
}
label, .MSTHEME-LABEL{
color:#C8E099;
}
FIELDSET{
border-color:#465069;
color:#FFFFFF;
}
LEGEND{
color:#C8E099;
}
SELECT{
border-color:#B4BED6;
color:#000000;
}
TABLE{
table-border-color-light:#FFFFFF;
table-border-color-dark:#FFFFFF;
border-color:#FFFFFF;
color:#FFFFFF;
}
CAPTION{
color:#C8E099;
}
TH{
color:#C8E099;
}
HR{
color:#465069;
}
TD{
border-color:#FFFFFF;
}
